.screen-header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: var(--space-left);
  padding-bottom: 20px;
  padding-top: var(--space-top);
}


.screen-header__column:last-child {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}


.screen-header__column span {
  font-size: 18px;
  font-weight: 1000;
}

.screen-header__column i {
  margin-left: 20px;
  font-size: 22px;
}